
<h1>Listing Events</h1>
 
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>
 
  <% @event.each do |event| %>
    <tr>
      <td><%= event.name %></td>
      <td><%= event.description %></td>
    </tr>
  <% end %>
</table>